<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<p>
  <b>Author:</b>
  <%= @list.author %>
</p>

<p>
  <b>Private:</b>
  <%= @list.private %>
</p>

<p>
  <b>Status:</b>
  <%= @list.status %>
</p>

<p>
  <b>Edit datetime:</b>
  <%= @list.edit_datetime %>
</p>

<p>
  <b>Content:</b>
  <%= @list.content %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
